.header{
    position: relative;
    

    .header-top{
        position: absolute;
        z-index:2;
        width:100%;

        .top-in{
            .register {
                margin:10px 0px;
                li{
                    a{
                        color:#fff;
                        font-weight: 500;
                    }
                }
            }
            .topNav{

                .navbar{
                    -webkit-border-bottom-right-radius: 45px;
                    -webkit-border-bottom-left-radius: 45px;
                    -moz-border-radius-bottomright: 45px;
                    -moz-border-radius-bottomleft: 45px;
                    border-bottom-right-radius: 45px;
                    border-bottom-left-radius: 45px;
                    -webkit-box-shadow: 3px 3px 3px 0px rgba(102,102,102,0.63);
-moz-box-shadow: 3px 3px 3px 0px rgba(102,102,102,0.63);
box-shadow: 3px 3px 3px 0px rgba(102,102,102,0.63);


                .navbar-nav{
                    .nav-item{
                        .dropdown-menu  {
                            margin: 0px !important;
                        }
                    }
                }

                }
            }
        }
    }

    .header-bottom{

        position: relative;
        width:100%;
        z-index:1;

        &::after{
            content:" ";
            background-color:#000;
            width:100%;
            height: 100%;
            position: absolute;
            opacity: 0.5;
            top:0;
        }

        .carousel{
            .carousel-inner{
                .carousel-item{
                    max-height: 700px;

                    .carousel-caption{
                        border:5px solid #fff;
                        -webkit-border-bottom-right-radius: 45px;
                        -moz-border-radius-bottomright: 45px;
                        border-bottom-right-radius: 45px;
                        left:21% !important;
                        right: 25% !important;
                        bottom:100px;
                        padding:50px 50px 80px 50px;
                        -webkit-box-shadow: 0px 4px 4px 0px rgba(87,87,87,0.59);
-moz-box-shadow: 0px 4px 4px 0px rgba(87,87,87,0.59);
box-shadow: 0px 4px 4px 0px rgba(87,87,87,0.59);

                        h5{
                            font-size:34px;
                            line-height: 46px;
                            text-align: left;
                            margin-bottom:30px;
                        }

                        a{
                            background: #c32328;
                            color:#fff;
                            padding:10px 50px;
                            position: absolute;
                            left:50px;
                            -webkit-border-bottom-right-radius: 25px;
                            -moz-border-radius-bottomright: 25px;
                            border-bottom-right-radius: 25px;

                            &:hover{
                                text-decoration: none;
                                opacity: 0.9;
                            }
                        }
                    }
                }
            }
        }
        

    }
}