.register-user{
    .register-form{
        padding:30px;
        background: #fff;
        margin-bottom:20px;

        h1{
            font-size:18px;
            
        }

        form{
            width:100%;
            input{
                width:100%;
            }
        }
    }
}